body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

#container {
    display: flex;
    width: 1120px;
    flex-wrap: wrap;
}

#container > div {
    box-sizing: border-box;
    height: 69px;
    width: 69px;
    border: 1px solid black;
}