body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-color: black;
}

#heading {
    color: white;
}

#btn {
    border: 1px solid white;
    background: rgb(230, 230, 230);
    color: black;
    padding: 10px;
    border-radius: 8px;
}

#container {
    display: flex;
    width: 1120px;
    flex-wrap: wrap;
}

#container > div {
    box-sizing: border-box;
    border: 1px solid white;
}