body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-color: black;
}

#heading {
    color: white;
}

.buttons > button {
    border: 1px solid white;
    background: rgb(255, 155, 49);
    border: 1px solid orange;
    color: black;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
}

#container {
    display: flex;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    border: 2px solid white;
}